/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  
}
